body {
    margin: 0;
    padding: 50px;
    box-sizing: border-box;
    height: 100vh;
}

#container {
    width: 90%;
    height: 750px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}

#header {
    width: 100%;
    background-color: #6FA9E6;
    height: auto;
    display: flex;
    justify-content: center;
}

h1 {
    margin: auto 0;
}

#img-top {
    background-color: #E6B3CE;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

#img-left {
    background-color: #C9E6A3;
    width: 80%;
    height: 550px;
    display: flex;
    justify-content: center;
}

#text-right {
    background-color: #9ABF89;
    width: 20%;
    height: 550px;
    display: flex;
    justify-content: center;
}